@media only screen and (max-width: 500px){
	body {
	overflow-x:hidden;
	}

	#entry {
		background-image: url("img/skyline.jpg");
		height: 100vh;
		background-size: auto 100%;
	    background-repeat: no-repeat;
	    background-position: left top;
	    background-size: cover;
	    width: 100%;
	}


	#entry-name {
		height: 28vh;
		background-color: rgb(245, 248, 250);
		display:flex;
	    align-items: center;
	    justify-content: center;
	}

	#name {
		font-family: "Dancing Script", cursive;
		text-align: center;
		font-weight: 700;
		font-size: 7vh;
	    text-rendering: geometricPrecision;
	    vertical-align: middle;
	}

	#name-desc {
		font-weight: 400;
		font-family: 'Bungee Inline', cursive;
	    letter-spacing: 0.01rem;
	    font-size: 2vh;
	    line-height: 1.5;
	    color: rgba(0,0,0,0.5);
	}

	#entry-carousel {
		height: 72vh;
	}

	#carousel-container {
	}

	.carousel-item {
		height: 70vw;
	}

	.carousel {
		padding-top: 7vh;
		width: 70vw;
		margin: 0 auto;
	}

	#about-me {
		background-image: url("img/skyline_flipped.jpg");
		height: 75vh;
		background-size: auto 100%;
	    background-repeat: no-repeat;
	    background-position: left top;
	    background-size: cover;
	    width: 100%;
	}

	#am-header {
		text-align: center;
		font-family: 'Monoton', cursive;
		padding-top: 10vh;
		font-size: 7vh;
	}

	#am-content {
		margin-left: 12%;
		margin-right: 12%;
		font-family: 'Cabin Sketch', cursive;
		padding-top: 6vh;

		font-size: 3vh;
	}

	#transition {
		height: 30vh;
		width: 100%;
		background: linear-gradient(white, #b3bdce);
	}

	#skills {
		background-image: url("img/off_white.jpg");
		height: 100vh;
		background-size: auto 100%;
	    background-repeat: no-repeat;
	    background-position: left top;
	    background-size: cover;
	    width: 100%;
	    display:none;
	}

	#skills-header {
		text-align: center;
		padding-top: 10vh;
		font-size: 7vh;
		font-family: 'Rubik Mono One', sans-serif;
	}

	#skills-row {
		margin-top: 8vh;
		margin-left: 6%;
		margin-right: 6%;
		text-align: center;
	}

	.skills-row-header {
		font-family: MoonBold,'Open Sans',sans-serif!important;
		font-size: 2vh;
		margin-top: 1vh;
		margin-bottom: 2vh;
	}

	ul {
	    width: 70%;
	    margin: auto;
	    text-align: left;
	}

	li {
		margin: 1vh 0;
	}

	.skill-item {
	    font-size: 3.5vh;
	    font-family: 'Fredericka the Great', cursive;
	}

	#resume-holder {
		background-image: url("img/off_white_flipped.jpg");
		height: 175vh;
		background-size: auto 100%;
	    background-repeat: no-repeat;
	    background-position: left top;
	    background-size: cover;
	    width: 100%;
	}

	#resume-holder-header {
		text-align: center;
		padding-top: 12vh;
		font-family: 'Orbitron', sans-serif;
		font-size: 8.5vh;
		margin-bottom: 5vh;

	}

	#resume-holder-container {
		padding-right: 25%;
		padding-left: 25%;
	}

	#resume {
	  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	  height: 50vh;
	  margin-left: auto;
	  margin-right: auto;
	}

	.img-responsive {
	    display: block;
	    max-width: 100%;
	    height: auto;
	}

	img {
	    vertical-align: middle;
	}

	#contact {
		padding-top: 7vh;
	}

	#contact-header {
		text-align: center;
		font-family: 'Indie Flower', cursive;
		font-size: 7vh;
	}

	.media-icon {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}






body {
	overflow-x:hidden;
}

#entry {
	background-image: url("img/skyline.jpg");
	height: 100vh;
	background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    width: 100%;
}


#entry-name {
	height: 28vh;
	background-color: rgb(245, 248, 250);
	display:flex;
    align-items: center;
    justify-content: center;
}

#name {
	font-family: "Dancing Script", cursive;
	text-align: center;
	font-weight: 700;
	font-size: 8vh;
    text-rendering: geometricPrecision;
    vertical-align: middle;
}

#name-desc {
	font-weight: 400;
	font-family: 'Bungee Inline', cursive;
    letter-spacing: 0.01rem;
    font-size: 4vh;
    line-height: 1.5;
    color: rgba(0,0,0,0.5);
}

#entry-carousel {
	height: 72vh;
}

#carousel-container {
}

.carousel-item {
	height: 30vw;
}

.carousel {
	padding-top: 7vh;
	width: 30vw;
	margin: 0 auto;
}

#about-me {
	background-image: url("img/skyline_flipped.jpg");
	height: 100vh;
	background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    width: 100%;
}

#am-header {
	text-align: center;
	font-family: 'Monoton', cursive;
	padding-top: 10vh;
	font-size: 8.5vh;
}

#am-content {
	margin-left: 12%;
	margin-right: 12%;
	font-family: 'Cabin Sketch', cursive;
	padding-top: 6vh;

	font-size: 5vh;
}

#transition {
	height: 30vh;
	width: 100%;
	background: linear-gradient(white, #b3bdce);
}

#skills {
	background-image: url("img/off_white.jpg");
	height: 100vh;
	background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    width: 100%;
}

#skills-header {
	text-align: center;
	padding-top: 10vh;
	font-size: 9.25vh;
	font-family: 'Rubik Mono One', sans-serif;
}

#skills-row {
	margin-top: 8vh;
	margin-left: 6%;
	margin-right: 6%;
	text-align: center;
}

.skills-row-header {
	font-family: MoonBold,'Open Sans',sans-serif!important;
	font-size: 3.4vh;
	margin-top: 1vh;
	margin-bottom: 2vh;
}

ul {
    width: 70%;
    margin: auto;
    text-align: left;
}

li {
	margin: 1vh 0;
}

.skill-item {
    font-size: 3.5vh;
    font-family: 'Fredericka the Great', cursive;
}

#resume-holder {
	background-image: url("img/off_white_flipped.jpg");
	height: 175vh;
	background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    width: 100%;
}

#resume-holder-header {
	text-align: center;
	padding-top: 12vh;
	font-family: 'Orbitron', sans-serif;
	font-size: 8.5vh;
	margin-bottom: 5vh;

}

#resume-holder-container {
	padding-right: 25%;
	padding-left: 25%;
}

#resume {
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  transform: scale(0.84,0.84);
  height: 110vh;
  margin-left: auto;
  margin-right: auto;
}

#resume:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1,1);
  height: 110vh;
  margin-left: auto;
  margin-right: auto;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
}

#contact {
	padding-top: 7vh;
}

#contact-header {
	text-align: center;
	font-family: 'Indie Flower', cursive;
	font-size: 7vh;
}

.media-icon {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
