body {
	overflow-x:hidden;
}

#entry {
	background-image: url("img/skyline.jpg");
	height: 100vh;
	background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    width: 100%;
}


#entry-name {
	height: 28vh;
	background-color: rgb(245, 248, 250);
	display:flex;
    align-items: center;
    justify-content: center;
}

#name {
	font-family: "Dancing Script", cursive;
	text-align: center;
	font-weight: 700;
	font-size: 8vh;
    text-rendering: geometricPrecision;
    vertical-align: middle;
}

#name-desc {
	font-weight: 400;
	font-family: 'Bungee Inline', cursive;
    letter-spacing: 0.01rem;
    font-size: 4vh;
    line-height: 1.5;
    color: rgba(0,0,0,0.5);
}

#entry-carousel {
	height: 72vh;
}

#carousel-container {
}

.carousel-item {
	height: 50vh;
}

.carousel {
	padding-top: 7vh;
	width: 50vh;
	margin: 0 auto;
}

#about-me {
	background-image: url("img/skyline_flipped.jpg");
	height: 100vh;
	background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    width: 100%;
}

#am-header {
	text-align: center;
	font-family: 'Bungee Inline', cursive;
	padding-top: 12.5vh;
	font-size: 8.5vh;
	color: #686868;
}

.am-content {
	margin-left: 12%;
	margin-right: 12%;
	font-family: "Yu Mincho", monospace;
	color: #4c4c4c;
	padding-top: 6vh;
	text-align: center;
	font-size: 3vh;
}

.am-content2 {
	padding-top: 3vh;
}

.company-logo {
	width: 40%;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  	filter: gray; /* IE6-9 */
  	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.company-logo:hover {
	filter: none;
  	-webkit-filter: grayscale(0%);
  	transition: all 0.2s ease-in-out;
}

#companies-row {
	margin-top: 5.5vh;
	margin-left: 6vw;
	margin-right: 6vw;
}

#transition {
	height: 10vh;
	width: 100%;
	background: linear-gradient(white, #f7f7f7);
}

#resume-holder {
	background-image: url("img/off_white_flipped.jpg");
	height: 175vh;
	background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    width: 100%;
}

#resume-holder-header {
	text-align: center;
	padding-top: 2vh;
	font-family: 'Bungee Inline', cursive;
	font-size: 8.5vh;
	margin-bottom: 5vh;
	color: #686868;
}

#resume-holder-container {
	padding-right: 25%;
	padding-left: 25%;
	padding-top: 2vh;
}

#resume {
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  transform: scale(0.84,0.84);
  height: 110vh;
  margin-left: auto;
  margin-right: auto;
}

#resume:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1,1);
  margin-left: auto;
  margin-right: auto;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
}

#contact {
	padding-top: 14vh;
}

#contact-header {
	text-align: center;
	font-family: 'Bungee Inline', cursive;
	font-size: 8.5vh;
	color: #686868;
}

.media-icon {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

@media handheld, screen and (max-width: 1024px) {
	#name-desc {
	    font-size: 3vh;
	}

	.carousel-item {
		height: 45vh;
	}

	.carousel {
		width: 45vh;
	}

	.am-content {
		font-size: 2.25vh;
	}

	.company-logo {
		width: 75%;
	}

	#resume {
	  height: 60vh;
	}

	#resume-holder {
		height: 122vh;
	}

}

@media handheld, screen and (min-width: 768px) and (max-width: 768px) and (min-height: 1024px) and (max-height: 1024px) {
	.carousel-item {
		height: 450px;
	}

	.carousel {
		width: 450px;
	}

	#name-desc {
	    font-size: 3vh;
	}

	.am-content {
		font-size: 2.25vh;
	}

	.company-logo {
		width: 75%;
	}

	#resume {
	  height: 60vh;
	}

	#resume-holder {
		height: 122vh;
	}
}


@media handheld, screen and (max-width: 560px) {

	#name {
		font-size: 6vh;
	}

	#name-desc {
	    font-size: 2vh;
	}

	.carousel-item {
		height: 70vw;
	}

	.carousel {
		width: 70vw;
	}

	#about-me {
		height: 125vh;
	}

	#am-header {
		font-size: 7vh;
	}

	.am-content {
		font-size: 2vh;
	}

	#resume {
	  height: 50vh;
	}

	#resume:hover {
	  height: 50vh;
	}

	#resume-holder {
		height: 158vh;
	}

	.img-responsive {
	    display: block;
	    max-width: 100%;
	    height: auto;
	}

	#contact {
		padding-top: 12vh;
	}

	#contact-header {
		text-align: center;
		font-size: 7vh;
	}

	.media-icon {
		width:25%;
	}

	.company-logo {
  		-webkit-filter: grayscale(0%);
  		width:100%;
	}
}




@media handheld, screen and (orientation: landscape) and (max-device-width: 667px) {

	#skills {
		display: none;
	}

	#resume-holder {
		height: 180vh;
	}

	#contact-header {
		font-size: 9vh;
	}

	#transition {
		display: none;
	}

	
}


@media handheld, screen and (min-width: 375px) and (max-width: 375px) and (min-height: 812px) and (max-height: 812px) {
	#name-desc {
	    font-size: 1.75vh;
	}

	#transition {
		height: 16vh;
	}

	#resume {
	  height: 40vh;
	}

	#resume:hover {
	  height: 40vh;
	}

	#resume-holder {
		height: 141vh;
	}
}

@media handheld, screen and (min-width: 320px) and (max-width: 320px) and (min-height: 568px) and (max-height: 568px) {
	#resume-holder {
		height: 175vh;
	}
}